<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326702474316-t9l49uud18grifbfa8hfh0c5hkqtdkkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326702474316-t9l49uud18grifbfa8hfh0c5hkqtdkkl</string>
	<key>API_KEY</key>
	<string>AIzaSyBRP5x8Gi9GGj8v3eJWeZKjWO862zEZzt8</string>
	<key>GCM_SENDER_ID</key>
	<string>326702474316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ct2martapp</string>
	<key>PROJECT_ID</key>
	<string>ct2mart</string>
	<key>STORAGE_BUCKET</key>
	<string>ct2mart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326702474316:ios:94fdfc0c24bbc00bb8c0e9</string>
</dict>
</plist>